openapi: 3.1.0
info:
  title: CData Connect AI REST API Embedded
  version: v1

servers:
  - url: https://cloud.cdata.com/api
    description: Production base URL

paths:
  /log/query/list:
    post:
      summary: List Query Log
      tags:
        - Log
      operationId: listQueryLog
      description: >
        Retrieves a list of query logs for an account.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QuerySearchCriteria"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuerySearchResult"
              example:
                queries:
                  - credential: "prat8897@gmail.com"
                    duration: 308
                    drivers: "PostgreSQL"
                    errorCode: "QUERY_FAILED"
                    errorMessage: "The stored procedure execution failed with the following error:\r\n[500] Could not execute the specified command: Unknown stored function/procedure transferdata\r\n<Query ID: e1af1260-4045-45e4-882b-96fe2575e37b>"
                    logFileKey: "x41GvdkvWlJsaEdQrzI2+t7M+TSbimW8iJIfQPv9mK1PqurO1/pzPW3D2ObewKfK6w51T7ui8yecrEYV3JpW9WmsAU+yVv4Vke1D2lB8EeKsv3ab6w2ZXrNZxPBAgaKAZLoRf8zbuHGWDGSQQ9gDJg=="
                    logVerbosity: 1
                    query: "PostgreSQL1.public.transferdata"
                    queryId: "e1af1260-4045-45e4-882b-96fe2575e37b"
                    queryType: 203
                    rowsAffected: -1
                    rowsInput: 1
                    rowsReturned: 0
                    timestamp: "2024-03-19T18:55:34.837Z"
                    userAgent: "PostmanRuntime/7.37.0"
  /log/query/get/{queryId}:
    get:
      summary: Get Query Log
      tags:
        - Log
      operationId: getQueryLog
      description: >
        Download a query log file for troubleshooting.
      parameters:
        - name: queryId
          in: path
          required: true
          description: The unique Id of the query for which to download the log file.
          schema:
            type: string
      responses:
        "200":
          description: OK and the zipped log file.
  /log/audit/list:
    post:
      summary: List Audit Log
      tags:
        - Log
      operationId: listAuditLog
      description: >
        Retrieves a list of audit logs for an account.
      parameters:
        - name: startTime
          in: query
          description: 'Timestamp in UTC (ISO 8601 format). Example: "2025-08-18T00:00:00Z"'
          schema:
            type: string
            format: date-time
        - name: endTime
          in: query
          description: 'Timestamp in UTC (ISO 8601 format). Example: "2025-08-18T23:59:59Z"'
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuditSearchResult"
              example:
                events:
                  - eventType: 1003
                    timestamp: "2025-08-18T17:07:07.3673862Z"
                    targetId: "aaa96669-74c8-480f-a8c1-7956979cbee9"
                    targetName: "PostgreSQL1"
                    targetType: 1
                    userId: "6b8d5c25-cdc1-4b0c-b9f1-5b26647a8240"
                    userName: "User1"
                    userType: 0
                  - eventType: 1107
                    timestamp: "2025-08-13T21:20:08.4380865Z"
                    relatedId: "4780a367-2ba0-4b73-b086-b0d964323032"
                    relatedName: "Mcp"
                    relatedType: 4
                    targetId: "a41dd9b5-1ed6-54d9-b5e5-2754e4a29deb"
                    targetName: "test@cdata.com"
                    targetType: 2
                    userId: "a41dd9b5-1ed6-54d9-b5e5-2754e4a29deb"
                    userName: "User2"
                    userType: 0
  /poweredby/account/list:
    get:
      summary: List Accounts
      tags:
        - Account
      operationId: listAccounts
      description: >
        List Accounts lists the sub-accounts within the parent account.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountListResult"
              example:
                accounts:
                  - id: "fee1ce9d-c40c-4ef6-8f8c-77461315713d"
                    externalId: "ExternalId"
                    accountName: "Acme Corporation"
                    created: "2023-07-13T20:42:56.317Z"
                  - id: "c6cc4c16-35c8-4657-90c6-f93d401b0ae9"
                    externalId: "GlobeInc"
                    accountName: "Globe Inc"
                    created: "2024-07-16T18:03:19.622Z"
  /poweredby/account/{accountIdOrExternalId}:
    get:
      summary: Get Sub-Account
      tags:
        - Account
      operationId: getAccount
      description: >
        Get Sub-Account returns a single sub-account within the parent account. You can look up the sub-account by either its internal Connect AI account Id or its external Id.
      parameters:
        - name: accountIdOrExternalId
          in: path
          required: true
          schema:
            type: string
          example: "fee1ce9d-c40c-4ef6-8f8c-77461315713d"
          description: The internal Connect AI account Id or the external Id of the sub-account.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountInfo"
              example:
                id: "fee1ce9d-c40c-4ef6-8f8c-77461315713d"
                externalId: "ExternalId"
                accountName: "Acme Corporation"
                created: "2023-07-13T20:42:56.317Z"
  /poweredby/account/create:
    post:
      summary: Create Account
      tags:
        - Account
      operationId: createAccount
      description: >
        Create Account creates an account in the Connect AI Embed product.
        All request body fields are optional. If you send an empty body (`{}`), Create Account creates a sub-account.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAccountRequest"
            example:
              externalId: "MyExternalId"
              accountName: "Acme Corporation"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateAccountResult"
              example:
                accountId: "8744e71e-ee33-4d4e-916f-0a21eba65902"
                externalId: "MyExternalId"
                createdTime: "2024-07-10T19:10:52.139Z"
  /poweredby/account/update/{subAccountId}:
    put:
      summary: Update Sub-Account
      tags:
        - Account
      operationId: updateAccount
      description: >
        Update Sub-Account updates a sub-account within the parent account. Include only the fields you want to change in the request body.
      parameters:
        - name: subAccountId
          in: path
          required: true
          schema:
            type: string
          example: "fee1ce9d-c40c-4ef6-8f8c-77461315713d"
          description: The internal Connect AI account Id of the sub-account to update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAccountRequest"
            example:
              externalId: "MyExternalId"
              accountName: "Acme Corporation"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountInfo"
              example:
                id: "fee1ce9d-c40c-4ef6-8f8c-77461315713d"
                externalId: "MyExternalId"
                accountName: "Acme Corporation"
                created: "2023-07-13T20:42:56.317Z"
  /poweredby/account/delete/{id}:
    delete:
      summary: Delete Sub-Account
      tags:
        - Account
      operationId: deleteAccount
      description: >
        Delete Sub-Account deletes a sub-account from the Connect AI Embed product.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: "fee1ce9d-c40c-4ef6-8f8c-77461315713d"
          description: The sub-account Id.
      responses:
        "200":
          description: OK
  /poweredby/connection/create:
    post:
      summary: Create Connection
      tags:
        - Connection
      operationId: createConnection
      description: >
        Create Connection requests the Connection Create Flow from the Connect AI Embed product. Create Connection validates the JWT and returns a string containing the URL to redirect the user to. If you include the parameter `dataSource`, the URL redirects the user to an **Add Connection** page for the data source. If you omit `dataSource`, the URL redirects the user to a general **Add Connection** page where the user can select a connection to add from the connections list.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateConnectionRequest"
            example:
              dataSource: "ExcelOnline"
              redirectURL: "https://www.google.com"
              name: "ExcelConnection"
              externalId: "acme-excel-001"
      responses:
        "200":
          description: A string containing the CData-hosted connection URL to redirect the user to. 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RedirectURLResponse"
              example:
                redirectURL: "https://cloud.cdata.com/oem/user/connections/edit?token=eyJhbGciOiJSUzI1NiIs...truncated...&driver=ExcelOnline&redirectUrl=https%3A%2F%2Fwww.google.com"
  /poweredby/connection/list:
    get:
      summary: List Connections
      tags:
        - Connection
      operationId: listConnections
      description: >
        List Connections returns a list of connections for the sub-account. Use this endpoint for sub-account discovery scenarios. For example, you can reconcile connection mappings after a redirect failure, or look up the per-connection MCP URL for a known external identifier.
      parameters:
        - name: driver
          in: query
          required: false
          description: Filter to connections whose data source matches this value (case-insensitive).
          schema:
            type: string
            example: ExcelOnline
        - name: externalId
          in: query
          required: false
          description: Filter to connections with this externalId (case-sensitive).
          schema:
            type: string
            example: acme-excel-001
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectionListResult"
              example:
                connections:
                  - id: "880dc1a2-03c3-4288-9857-6f5c029d897c"
                    name: "ExcelOnline1"
                    dataSource: "ExcelOnline"
                    lastModified: "2024-08-02T21:30:55.154Z"
                    externalId: "acme-excel-001"
                    mcpUrl: "/mcp/connections/880dc1a2-03c3-4288-9857-6f5c029d897c"
                    status: "Authenticated"
                  - id: "eeef6211-5d6f-4347-b5bb-f99d574e75e5"
                    name: "MailChimp1"
                    dataSource: "MailChimp"
                    lastModified: "2023-10-11T20:43:33.28Z"
                    externalId: null
                    mcpUrl: "/mcp/connections/eeef6211-5d6f-4347-b5bb-f99d574e75e5"
                    status: "Conditional"
  /poweredby/sources/list:
    get:
      summary: List Data Sources
      tags:
        - Connection
      operationId: listDataSources
      description: >
        List Data Sources requests a list of data sources supported by Connect AI Embed.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataSourceListResult"
              example:
                dataSources:
                  - dataSource: "AmazonMarketplace"
                  - dataSource: "OracleSalesCloud"
                  - dataSource: "ZohoInventory"
                  - dataSource: "MariaDB"
                  - dataSource: "Monday"
                  - dataSource: "AlloyDB"
                  - dataSource: "GoogleContacts"
                  - dataSource: "ZohoCRM"
                  - dataSource: "SAPSuccessFactors"
                  - dataSource: "YahooAds"
                  - dataSource: "Salesforce"
                  - dataSource: "FreshDesk"
                  - dataSource: "ShipStation"
                  - dataSource: "Instagram"
                  - dataSource: "HubSpot"
                  - dataSource: "ConnectCache"
                  - dataSource: "SendGrid"
                  - dataSource: "PayPal"
                  - dataSource: "SAPByDesign"
                  - dataSource: "Sage200"
                  - dataSource: "BullhornCRM"
                  - dataSource: "Xero"
                  - dataSource: "Informix"
                  - dataSource: "WordPress"
                  - dataSource: "ADP"
                  - dataSource: "GoogleAds"
                  - dataSource: "Splunk"
                  - dataSource: "ActOn"
                  - dataSource: "Ebay"
                  - dataSource: "PostgreSQL"
                  - dataSource: "WooCommerce"
                  - dataSource: "Zuora"
                  - dataSource: "GoogleBigQuery"
                  - dataSource: "OracleSCM"
                  - dataSource: "ZohoBooks"
                  - dataSource: "MicrosoftProject"
                  - dataSource: "FacebookAds"
                  - dataSource: "YahooDS"
                  - dataSource: "TSheets"
                  - dataSource: "AdobeCommerce"
                  - dataSource: "SurveyMonkey"
                  - dataSource: "OracleERP"
                  - dataSource: "SAPHANA"
                  - dataSource: "GMOMakeShop"
                  - dataSource: "D365BusinessCentral"
                  - dataSource: "AzureAD"
                  - dataSource: "FinancialEdgeNXT"
                  - dataSource: "FreshBooks"
                  - dataSource: "OneNote"
                  - dataSource: "DocuSign"
                  - dataSource: "SageIntacct"
                  - dataSource: "Kintone"
                  - dataSource: "ServiceNow"
                  - dataSource: "OracleServiceCloud"
                  - dataSource: "QuickBase"
                  - dataSource: "ExactOnline"
                  - dataSource: "Dynamics365"
                  - dataSource: "YouTubeAnalytics"
                  - dataSource: "EpicorERP"
                  - dataSource: "Confluence"
                  - dataSource: "SparkSQL"
                  - dataSource: "Redis"
                  - dataSource: "GoogleSheets"
                  - dataSource: "MSTeams"
                  - dataSource: "Twitter"
                  - dataSource: "Presto"
                  - dataSource: "GoogleCalendar"
                  - dataSource: "MYOB"
                  - dataSource: "BingAds"
                  - dataSource: "Elasticsearch"
                  - dataSource: "OracleOci"
                  - dataSource: "SageBCAccounting"
                  - dataSource: "Databricks"
                  - dataSource: "SharePoint"
                  - dataSource: "TableauCRM"
                  - dataSource: "JIRA"
                  - dataSource: "Marketo"
                  - dataSource: "Workday"
                  - dataSource: "SQL"
                  - dataSource: "Outreach"
                  - dataSource: "ADLSSync"
                  - dataSource: "RaiserEdgeNXT"
                  - dataSource: "Smartsheet"
                  - dataSource: "Backlog"
                  - dataSource: "Domino"
                  - dataSource: "SAPHybrisC4C"
                  - dataSource: "Slack"
                  - dataSource: "PCASales"
                  - dataSource: "BigCommerce"
                  - dataSource: "Couchbase"
                  - dataSource: "NetSuite"
                  - dataSource: "ActiveDirectory"
                  - dataSource: "AzureSynapse"
                  - dataSource: "SalesforcePardot"
                  - dataSource: "ExcelOnline"
                  - dataSource: "AAS"
                  - dataSource: "Asana"
                  - dataSource: "ActCRM"
                  - dataSource: "ZohoCreator"
                  - dataSource: "SAPBusinessOne"
                  - dataSource: "TwitterAds"
                  - dataSource: "DynamicsCRM"
                  - dataSource: "GoogleCM"
                  - dataSource: "QuickBooksOnline"
                  - dataSource: "Twilio"
                  - dataSource: "MailChimp"
                  - dataSource: "FHIR"
                  - dataSource: "OracleEloqua"
                  - dataSource: "Exchange"
                  - dataSource: "Square"
                  - dataSource: "ZohoProjects"
                  - dataSource: "GoogleSpanner"
                  - dataSource: "MongoDB"
                  - dataSource: "GoogleAdsManager"
                  - dataSource: "Shopify"
                  - dataSource: "CosmosDB"
                  - dataSource: "PowerBIXMLA"
                  - dataSource: "LinkedInAds"
                  - dataSource: "AzureTables"
                  - dataSource: "Office365"
                  - dataSource: "Odoo"
                  - dataSource: "MicrosoftPlanner"
                  - dataSource: "Zendesk"
                  - dataSource: "Snowflake"
                  - dataSource: "GoogleAnalytics"
                  - dataSource: "VeevaVault"
                  - dataSource: "GraphQL"
                  - dataSource: "AdobeAnalytics"
                  - dataSource: "AzureDevOps"
                  - dataSource: "OracleHCM"
                  - dataSource: "MySQL"
                  - dataSource: "OData"
                  - dataSource: "AmazonAthena"
                  - dataSource: "LinkedIn"
                  - dataSource: "ActiveCampaign"
                  - dataSource: "AmazonDynamoDB"
                  - dataSource: "SAPConcur"
                  - dataSource: "Sansan"
                  - dataSource: "Trello"
                  - dataSource: "Greenplum"
                  - dataSource: "ApacheImpala"
                  - dataSource: "Smaregi"
                  - dataSource: "SugarCRM"
                  - dataSource: "Paylocity"
                  - dataSource: "Bing"
                  - dataSource: "XeroWorkflowMax"
                  - dataSource: "AmazonS3Sync"
                  - dataSource: "Redshift"
                  - dataSource: "MFExpense"
                  - dataSource: "CDS"
                  - dataSource: "Acumatica"
                  - dataSource: "GitHub"
                  - dataSource: "BCart"
                  - dataSource: "SFMarketingCloud"
                  - dataSource: "ApacheHive"
                  - dataSource: "CockroachDB"
                  - dataSource: "Airtable"
                  - dataSource: "SingleStore"
                  - dataSource: "SnapchatAds"
                  - dataSource: "Cloudant"
                  - dataSource: "Gmail"
                  - dataSource: "Stripe"
                  - dataSource: "GoogleSearch"
                  - dataSource: "Facebook"
                  - dataSource: "GoogleDirectory"
                  - dataSource: "JiraServiceDesk"
  /poweredby/connection/edit/{connectionId}:
    post:
      summary: Edit Connection
      tags:
        - Connection
      operationId: editConnection
      description: >
        Edit Connection edits a connection in the Connect AI Embed product. Returns a string containing the URL to redirect the user to.
      parameters:
        - name: connectionId
          in: path
          required: true
          schema:
            type: string
          description: The connection Id created in Create Connection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EditConnectionRequest"
            example:
              redirectURL: "https://www.google.com"
      responses:
        "200":
          description: A string containing the CData-hosted connection URL to redirect the user to.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RedirectURLResponse"
              example:
                redirectURL: "https://cloud.cdata.com/oem/user/connections/edit/eeef6211-5d6f-4347-b5bb-f99d574e75e5?driver=MailChimp&token=eyJhbGciOiJSUzI1NiIs...truncated...&redirectUrl=https%3A%2F%2Fwww.google.com"
  /poweredby/connection/delete/{id}:
    delete:
      summary: Delete Connection
      tags:
        - Connection
      operationId: deleteConnection
      description: >
        Delete Connection deletes a sub-account's connection from the Connect AI Embed product.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: The connection Id to delete.
      responses:
        "200":
          description: OK
  /poweredby/{connectionId}/metadata:
    delete:
      summary: Clear Connection Metadata
      tags:
        - Connection
      operationId: clearConnectionMetadata
      description: >
        Clear Connection Metadata clears the metadata cache for the specified connection. In some situations, clearing the metadata cache can help fix loading or performance issues.
      parameters:
        - name: connectionId
          in: path
          required: true
          schema:
            type: string
          description: The connection Id of the connection in which to clear the metadata.
      responses:
        "200":
          description: OK
  /poweredby/dataExplorer:
    post:
      summary: Generate Data Explorer URL
      tags:
        - Data Explorer
      operationId: generateDataExplorerURL
      description: >
        Generate Data Explorer URL redirects you to the Data Explorer page of Connect AI.
      responses:
        "200":
          description: A string containing the URL to redirect the user to.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RedirectURLResponse"
              example:
                redirectURL: "https://cloud.cdata.com/oem/user/dataexplorer?token=eyJhbGciOiJSUzI1NiIs...truncated..."
  /poweredby/jobs:
    post:
      summary: Generate Jobs URL
      tags:
        - Jobs
      operationId: generateJobsURL
      description: >
        Generate Jobs URL redirects you to the Jobs page of Connect AI.
      responses:
        "200":
          description: A string containing the URL to redirect the user to.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RedirectURLResponse"
              example:
                redirectURL: "https://cloud.cdata.com/oem/user/jobs?token=eyJhbGciOiJSUzI1NiIs...truncated..."
  /job/cacheConnection:
    post:
      summary: Update Cache Connection
      tags:
        - Cache
      operationId: updateCacheConnection
      description: >
        Create/update the cache connection used by the other caching API calls.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CacheConnectionRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              example:
                connection:
                  accountId: "fee1ce9d-c40c-4ef6-8f8c-77461315713d"
                  connectionString: "server=<Server URL>;port=5432;user=username;password=password;database=cachedb"
                  connectionType: 0
                  created: "2025-11-20T15:26:43.096Z"
                  driver: "PostgreSQL"
                  driverVersion: "24.0.9172.0"
                  id: "1c9b0ae6-3a6f-417a-8460-4ce5b5528540"
                  isTested: false
                  lastModified: "2025-11-20T15:52:32.8444712Z"
                  name: "CacheConnection"
                  walletFilePresent: false
                  isCannedConnection: false
      servers:
        - url: https://cloud.cdata.com/api
          description: Production base URL for job endpoints
  /job/cacheConnection/formLink:
    post:
      summary: Generate Cache Connection URL
      tags:
        - Cache
      operationId: generateCacheConnectionURL
      description: >
        Generates a URL for users to create or update their cache connection. Returns a string containing the URL to redirect the user to. Users can then add their PostgreSQL connection information to this page.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EditConnectionRequest"
      responses:
        "200":
          description: A string containing the URL to redirect the user to. Users can then add their PostgreSQL connection information to this page.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RedirectURLResponse"
              example:
                redirectURL: "https://cloud.cdata.com/oem/user/cacheConnection?token=eyJhbGciOiJSUzI1NiIs...truncated...&driver=PostgreSQL&redirectUrl=https%3A%2F%2Fwww.google.com&connectionName=OEMCacheConnection"
      servers:
        - url: https://cloud.cdata.com/api
          description: Production base URL for job endpoints
  /job/list:
    get:
      summary: List Jobs
      tags:
        - Job
      operationId: listJobs
      description: >
        Administrators, impersonating a service user, can request a list of jobs for a sub-account.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobListResult"
              example:
                jobs:
                  - jobType: "Caching"
                    id: "string"
                    name: "string"
                    enabled: true
                    created: "2024-01-01T00:00:00Z"
                    lastModified: "2024-01-01T00:00:00Z"
                    nextRunTime: "2024-01-01T00:00:00Z"
                    intervalUnit: "Hour"
                    intervalValue: 1
                    logVerbosity: 1
                    lastRun:
                      dateTime: "0001-01-01T00:00:00Z"
                      duration: 63894847975
                      status: "JOB_QUEUED"
                      rowsAffected: 0
                      nextRunTime: "0001-01-01T00:00:00Z"
                    params:
                      timeCheckColumn: ""
                      autoTruncateStrings: "false"
                      sourceConnection: "f6f3cfe6-72e2-4edb-914f-4409c01c1418"
                      sourceConnectionName: "MailChimp1"
                      sourceName: "MailChimp"
                      sourceSchema: "MailChimp"
                      sourceTable: "Conversations"
      servers:
        - url: https://cloud.cdata.com/api
          description: Production base URL for job endpoints
  /job/{jobId}:
    get:
      summary: Get Job
      tags:
        - Job
      operationId: getJob
      description: >
        Retrieve the details for a specific job.
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
          description: The Id of the job you want to retrieve details from.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobInfo"
              example:
                jobType: "Caching"
                id: "string"
                name: "string"
                enabled: true
                created: "2024-01-01T00:00:00Z"
                lastModified: "2024-01-01T00:00:00Z"
                nextRunTime: "2024-01-01T00:00:00Z"
                intervalUnit: "Hour"
                intervalValue: 1
                logVerbosity: 1
                lastRun:
                  dateTime: "0001-01-01T00:00:00Z"
                  duration: 63894847975
                  status: "JOB_QUEUED"
                  rowsAffected: 0
                  nextRunTime: "0001-01-01T00:00:00Z"
                params:
                  timeCheckColumn: ""
                  autoTruncateStrings: "false"
                  sourceConnection: "f6f3cfe6-72e2-4edb-914f-4409c01c1418"
                  sourceConnectionName: "MailChimp1"
                  sourceName: "MailChimp"
                  sourceSchema: "MailChimp"
                  sourceTable: "Conversations"
      servers:
        - url: https://cloud.cdata.com/api
          description: Production base URL for job endpoints
  /job/create:
    post:
      summary: Create Job
      tags:
        - Job
      operationId: createJob
      description: >
        Administrators, impersonating a service user, can use this call to create a new job.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateJobRequest"
            example:
              jobType: "Caching"
              intervalUnit: "Hour"
              intervalValue: "1"
              logVerbosity: "1"
              enabled: "true"
              params:
                timeCheckColumn: ""
                autoTruncateStrings: "false"
                sourceConnection: "36b2c04f-70f4-44a1-876a-29e42237ee63"
                sourceName: "OData1"
                sourceSchema: "OData"
                sourceTable: "Categories"
                mergeKeys:
                  - colName: "Id"
                    colType: "varchar"
                    isPrimaryKey: true
                  - colName: "WorkspaceId"
                    colType: "varchar"
                    isPrimaryKey: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobInfo"
              example:
                jobType: "Caching"
                id: "string"
                name: "string"
                enabled: true
                created: "2024-01-01T00:00:00Z"
                lastModified: "2024-01-01T00:00:00Z"
                nextRunTime: "2024-01-01T00:00:00Z"
                intervalUnit: "Hour"
                intervalValue: 1
                logVerbosity: 1
                lastRun:
                  dateTime: "0001-01-01T00:00:00Z"
                  duration: 63894847975
                  status: "JOB_QUEUED"
                  rowsAffected: 0
                  nextRunTime: "0001-01-01T00:00:00Z"
                params:
                  timeCheckColumn: ""
                  autoTruncateStrings: "false"
                  sourceConnection: "f6f3cfe6-72e2-4edb-914f-4409c01c1418"
                  sourceConnectionName: "MailChimp1"
                  sourceName: "MailChimp"
                  sourceSchema: "MailChimp"
                  sourceTable: "Conversations"
      servers:
        - url: https://cloud.cdata.com/api
          description: Production base URL for job endpoints
  /job/{jobId}/update:
    put:
      summary: Update Job
      tags:
        - Job
      operationId: updateJob
      description: >
        Administrators, impersonating a service user, can use this call to update a specified job.
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
          description: The Id of the job you want to update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateJobRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobInfo"
              example:
                jobType: "Caching"
                id: "string"
                name: "string"
                enabled: true
                created: "2024-01-01T00:00:00Z"
                lastModified: "2024-01-01T00:00:00Z"
                nextRunTime: "2024-01-01T00:00:00Z"
                intervalUnit: "Hour"
                intervalValue: 1
                logVerbosity: 1
                lastRun:
                  dateTime: "0001-01-01T00:00:00Z"
                  duration: 63894847975
                  status: "JOB_QUEUED"
                  rowsAffected: 0
                  nextRunTime: "0001-01-01T00:00:00Z"
                params:
                  timeCheckColumn: ""
                  autoTruncateStrings: "false"
                  sourceConnection: "f6f3cfe6-72e2-4edb-914f-4409c01c1418"
                  sourceConnectionName: "MailChimp1"
                  sourceName: "MailChimp"
                  sourceSchema: "MailChimp"
                  sourceTable: "Conversations"
      servers:
        - url: https://cloud.cdata.com/api
          description: Production base URL for job endpoints
  /job/{jobId}/delete:
    delete:
      summary: Delete Job
      tags:
        - Job
      operationId: deleteJob
      description: >
        Administrators, impersonating a service user, can use this call to delete a specified job.
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
          description: The Id of the job you want to delete.
      responses:
        "200":
          description: OK
      servers:
        - url: https://cloud.cdata.com/api
          description: Production base URL for job endpoints
  /job/{jobId}/run:
    post:
      summary: Run Job
      tags:
        - Job
      operationId: runJob
      description: >
        Administrators, impersonating a service user, can use this call to put the specified job in the queue to be run.
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
          description: The Id of the job you want to put in the queue to be run.
      responses:
        "200":
          description: OK
      servers:
        - url: https://cloud.cdata.com/api
          description: Production base URL for job endpoints
  /job/{jobId}/stop:
    post:
      summary: Stop Job
      tags:
        - Job
      operationId: stopJob
      description: >
        Administrators, impersonating a service user, can use this call to stop the specified job.
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
          description: The Id of the job you want to stop.
      responses:
        "200":
          description: OK
      servers:
        - url: https://cloud.cdata.com/api
          description: Production base URL for job endpoints
  /catalogs:
    get:
      tags:
        - Metadata
      summary: List Catalogs
      description: >
        This operation returns information about available catalogs. Catalogs are connections that the user has set up in their account.
      
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryResult"
              example:
                results:
                  - affectedRows: -1
                    schema:
                      - catalogName: CData
                        columnLabel: TABLE_CATALOG
                        columnName: TABLE_CATALOG
                        dataType: 5
                        dataTypeName: VARCHAR
                        length: 255
                        nullable: true
                        ordinal: 0
                        precision: 255
                        scale: 0
                        schemaName: QueryFederation
                        tableName: sys_catalogs
                    rows:
                      - - Salesforce1
  /schemas:
    get:
      tags:
        - Metadata
      summary: List Schemas
      description: >
        This operation returns a list of schemas for a given catalog.
      parameters:
        - name: catalogName
          description: "Restricts results to the specified catalog."
          in: query
          schema:
            type: string
        - name: schemaName
          description: "Restricts results to the specified schema."
          in: query
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryResult"
  /tables:
    get:
      tags:
        - Metadata
      summary: List Tables
      description: >
        This operation returns a list of tables and views for a given schema.
      parameters:
        - name: catalogName
          description: "Restricts results to the specified catalog."
          in: query
          schema:
            type: string
        - name: schemaName
          description: "Restricts results to the specified schema."
          in: query
          schema:
            type: string
        - name: tableName
          description: "Restricts results to the specified table."
          in: query
          schema:
            type: string
        - name: tableType
          description: "Restricts results to the specified table type(s)."
          in: query
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryResult"
  /columns:
    get:
      tags:
        - Metadata
      summary: List Columns
      description: >
        This operation returns a list of columns for a given table or view.
      parameters:
        - name: catalogName
          description: "Restricts results to the specified catalog."
          in: query
          schema:
            type: string
        - name: schemaName
          description: "Restricts results to the specified schema."
          in: query
          schema:
            type: string
        - name: tableName
          description: "Restricts results to the specified table."
          in: query
          schema:
            type: string
        - name: columnName
          description: "Restricts results to the specified column."
          in: query
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryResult"
  /primaryKeys:
    get:
      tags:
        - Metadata
      summary: List Primary Keys
      description: >
        This operation returns information about a table's primary keys.
      parameters:
        - name: catalogName
          description: "Restricts results to the specified catalog."
          in: query
          schema:
            type: string
        - name: schemaName
          description: "Restricts results to the specified schema."
          in: query
          schema:
            type: string
        - name: tableName
          description: "Restricts results to the specified table."
          in: query
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryResult"
  /importedKeys:
    get:
      tags:
        - Metadata
      summary: List Imported Keys
      description: >
        This operation returns information about primary keys referenced by a table's foreign keys.
      parameters:
        - name: catalogName
          description: "Restricts results to the specified catalog."
          in: query
          schema:
            type: string
        - name: schemaName
          description: "Restricts results to the specified schema."
          in: query
          schema:
            type: string
        - name: tableName
          description: "Restricts results to the specified table."
          in: query
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryResult"
  /exportedKeys:
    get:
      tags:
        - Metadata
      summary: List Exported Keys
      description: >
        This operation returns information about foreign keys referenced by a table's primary keys.
      parameters:
        - name: catalogName
          description: "Restricts results to the specified catalog."
          in: query
          schema:
            type: string
        - name: schemaName
          description: "Restricts results to the specified schema."
          in: query
          schema:
            type: string
        - name: tableName
          description: "Restricts results to the specified table."
          in: query
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryResult"
  /indexes:
    get:
      tags:
        - Metadata
      summary: List Indexes
      description: >
        This operation returns information about available indexes for a given table.
      parameters:
        - name: catalogName
          description: "Restricts results to the specified catalog."
          in: query
          schema:
            type: string
        - name: schemaName
          description: "Restricts results to the specified schema."
          in: query
          schema:
            type: string
        - name: tableName
          description: "Restricts results to the specified table."
          in: query
          schema:
            type: string
        - name: indexName
          description: "Restricts results to the specified index."
          in: query
          schema:
            type: string
        - name: unique
          description: "If true, only return unique indexes. If false, only return non-unique indexes. The default value is to return all indexes."
          in: query
          schema:
            type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryResult"
  /procedures:
    get:
      tags:
        - Metadata
      summary: List Procedures
      description: >
        This operation returns information about available stored procedures for a given schema.
      parameters:
        - name: catalogName
          description: "Restricts results to the specified catalog."
          in: query
          schema:
            type: string
        - name: schemaName
          description: "Restricts results to the specified schema."
          in: query
          schema:
            type: string
        - name: procedureName
          description: "Restricts results to the specified procedure."
          in: query
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryResult"
  /procedureParameters:
    get:
      tags:
        - Metadata
      summary: List Procedure Parameters
      description: >
        This operation returns information about a stored procedure's parameters.
      parameters:
        - name: catalogName
          description: "Restricts results to the specified catalog."
          in: query
          schema:
            type: string
        - name: schemaName
          description: "Restricts results to the specified schema."
          in: query
          schema:
            type: string
        - name: procedureName
          description: "Restricts results to the specified procedure."
          in: query
          schema:
            type: string
        - name: paramName
          description: "Restricts results to the specified procedure parameter."
          in: query
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryResult"
  /query:
    post:
      tags:
        - Query
      summary: Execute Query
      description: >
        The query operation allows you to execute a SQL query against one or more data sources configured in your Connect AI account. SELECT, INSERT, UPDATE, DELETE, and EXEC statements are all supported (though the /exec operation should be preferred for the latter).
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryResult"
  /batch:
    post:
      tags:
        - Query
      summary: Execute Batch Query
      description: >
        The batch operation allows you to execute batch INSERTs, UPDATEs, and DELETEs against your data sources using a single request.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryResult"
  /exec:
    post:
      tags:
        - Query
      summary: Execute Procedure
      description: >
        The execute operation allows you to execute stored procedures for any of the data sources configured in your Connect AI account.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExecRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryResult"
components:
  schemas:
    AuditEvent:
      type: object
      properties:
        eventType:
          $ref: "#/components/schemas/AuditEventType"
          description: The audit event type, such as user login, user PAT created, or permission created.
        timestamp:
          type: string
          format: date-time
          description: The timestamp of the audit event.
        relatedId:
          type: string
          nullable: true
          description: The Id of the related entity, if applicable.
        relatedName:
          type: string
          nullable: true
          description: The name of the related entity, if applicable.
        relatedType:
          type: integer
          format: int32
          nullable: true
          description: The type of the related entity, if applicable.
        targetId:
          type: string
          nullable: true
          description: The Id of the event target, such as the Query Id.
        targetName:
          type: string
          nullable: true
          description: The target resource name, such as a user's email or a connection name.
        targetType:
          type: integer
          format: int32
          nullable: true
          description: The type of the event target, such as a query or connection change.
        userId:
          type: string
          nullable: true
          description: The Id of user who performed the event.
        userName:
          type: string
          nullable: true
          description: The name of user who performed the event.
        userType:
          type: integer
          format: int32
          nullable: true
          description: The type of user who performed the event.
      additionalProperties: false
    AuditEventSearchCriteria:
      type: object
      properties:
        endTime:
          type: string
          format: date-time
          nullable: true
        startTime:
          type: string
          format: date-time
          nullable: true
      additionalProperties: false
    AuditEventType:
      enum:
        - 0
        - 500
        - 501
        - 502
        - 1000
        - 1001
        - 1002
        - 1003
        - 1004
        - 1005
        - 1050
        - 1051
        - 1052
        - 1060
        - 1061
        - 1062
        - 1063
        - 1070
        - 1071
        - 1072
        - 1073
        - 1080
        - 1081
        - 1082
        - 1083
        - 1084
        - 1085
        - 1090
        - 1091
        - 1092
        - 1093
        - 1094
        - 1100
        - 1101
        - 1102
        - 1103
        - 1105
        - 1106
        - 1107
        - 1108
        - 1109
        - 1110
        - 1111
        - 1112
        - 1113
        - 1114
        - 1115
        - 1116
        - 1200
        - 1201
        - 1202
        - 1220
        - 1221
        - 1222
        - 1223
        - 1224
        - 1230
        - 1231
      type: integer
      format: int32
    BatchRequest:
      required:
        - query
      type: object
      properties:
        defaultCatalog:
          type: string
          nullable: true
        defaultSchema:
          type: string
          nullable: true
        parameters:
          type: array
          items:
            type: object
            additionalProperties:
              $ref: "#/components/schemas/Parameter"
          nullable: true
        query:
          description: "The SQL query to execute. Must be a valid SQL query."
          minLength: 1
          type: string
        timeout:
          maximum: 300
          minimum: 1
          type: integer
          format: int32
      additionalProperties: false
    BillingStatus:
      enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
        - 7
      type: integer
      format: int32
    ColumnInfo:
      type: object
      properties:
        catalogName:
          type: string
          nullable: true
          description: The name of the catalog containing the column.
        columnLabel:
          type: string
          nullable: true
          description: The label of the column.
        columnName:
          type: string
          nullable: true
          description: The name of the column.
        dataType:
          $ref: "#/components/schemas/DataType"
        dataTypeName:
          type: string
          nullable: true
          description: The data type name of the column.
        length:
          type: integer
          format: int32
          description: The length of the column.
        nullable:
          type: boolean
          description: Whether the column is nullable.
        ordinal:
          type: integer
          format: int32
          description: The ordinal position of the column.
        precision:
          type: integer
          format: int32
          nullable: true
          description: The precision of the column.
        scale:
          type: integer
          format: int32
          nullable: true
          description: The scale of the column.
        schemaName:
          type: string
          nullable: true
          description: The name of the schema containing the column.
        tableName:
          type: string
          nullable: true
          description: The name of the table containing the column.
      additionalProperties: false
    DataType:
      enum:
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
        - 7
        - 8
        - 9
        - 10
        - 11
        - 12
        - 13
        - 14
        - 15
        - 16
        - 17
        - 18
      type: integer
      description: "The parameter's [data type](/en/API/REST-API#data-types)."
      format: int32
    Direction:
      enum:
        - 1
        - 2
        - 4
        - 5
      type: integer
      format: int32
    ErrorCode:
      enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
        - 7
        - 8
        - 9
        - 10
        - 11
        - 12
        - 13
        - 14
        - 15
        - 16
        - 17
        - 18
        - 19
        - 20
        - 21
        - 22
        - 23
        - 24
        - 25
        - 26
        - 27
        - 28
        - 29
        - 30
        - 31
        - 32
        - 33
        - 34
        - 35
        - 36
        - 37
        - 38
        - 39
        - 40
        - 41
        - 42
        - 43
        - 44
        - 45
        - 46
        - 47
        - 48
        - 49
        - 50
        - 51
        - 52
        - 53
        - 54
        - 55
        - 56
        - 57
        - 58
        - 59
        - 60
        - 61
        - 62
        - 63
        - 64
        - 65
        - 66
        - 67
        - 68
        - 69
        - 70
        - 71
        - 72
        - 73
        - 74
        - 75
        - 76
        - 77
        - 78
        - 79
      type: integer
      format: int32
    ErrorDetail:
      type: object
      properties:
        code:
          $ref: "#/components/schemas/ErrorCode"
        message:
          type: string
          nullable: true
          description: The error message.
      additionalProperties: false
    ExecParameter:
      type: object
      properties:
        direction:
          $ref: "#/components/schemas/Direction"
        dataType:
          $ref: "#/components/schemas/DataType"
        value:
          nullable: true
      additionalProperties: false
    ExecRequest:
      required:
        - procedure
      type: object
      properties:
        defaultCatalog:
          type: string
          nullable: true
        defaultSchema:
          type: string
          nullable: true
        parameters:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/ExecParameter"
          nullable: true
        procedure:
          description: "The name of the stored procedure to execute. Must be a valid stored procedure name."
          minLength: 1
          type: string
        timeout:
          maximum: 300
          minimum: 1
          type: integer
          format: int32
      additionalProperties: false
    Parameter:
      type: object
      properties:
        dataType:
          $ref: "#/components/schemas/DataType"
        value:
          nullable: true
      additionalProperties: false
    QueryRecord:
      type: object
      properties:
        credential:
          type: string
          nullable: true
          description: The user's credential used to execute the query.
        duration:
          type: integer
          format: int64
          description: The duration of the query in milliseconds.
        drivers:
          type: string
          nullable: true
          description: The driver used to execute the query.
        errorCode:
          type: string
          nullable: true
          description: In the case of an error, the error code.
        errorMessage:
          type: string
          nullable: true
          description: The error message of the query, if applicable.
        logVerbosity:
          type: integer
          format: int32
          nullable: true
          description: The verbosity level of the query log.
        query:
          type: string
          nullable: true
          description: The contents of the query.
        queryId:
          type: string
          format: uuid
          description: The unique Id of the query.
        queryType:
          $ref: "#/components/schemas/QueryType"
          description: The type of query.
        rowsAffected:
          type: integer
          format: int64
          description: The number of rows affected by the query.
        rowsReturned:
          type: integer
          format: int64
          description: The number of rows returned by the query as a result set.
        timestamp:
          type: string
          format: date-time
          description: The timestamp of the query.
        userAgent:
          type: string
          nullable: true
          description: The user agent used to execute the query.
      additionalProperties: false
    QueryRequest:
      required:
        - query
      type: object
      properties:
        defaultCatalog:
          type: string
          nullable: true
          description: "The default catalog to use for the query if none is specified in the query itself."
        defaultSchema:
          type: string
          nullable: true
        parameters:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/Parameter"
          nullable: true
        query:
          description: "The SQL query to execute. Must be a valid SQL query."
          minLength: 1
          type: string
        schemaOnly:
          type: boolean
          description: "If true, only the schema of the result set is returned without any data rows. The default value is false."
        timeout:
          maximum: 300
          minimum: 1
          type: integer
          format: int32
      additionalProperties: false
    QueryResult:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: "#/components/schemas/ResultSet"
          nullable: true
        error:
          $ref: "#/components/schemas/ErrorDetail"
      additionalProperties: false
    QuerySearchCriteria:
      type: object
      properties:
        endTime:
          type: string
          format: date-time
          nullable: true
          description: The end time of the query.
        queryType:
          type: array
          items:
            $ref: "#/components/schemas/QueryType"
          nullable: true
          default: 2
          description: The type of query.
        startTime:
          type: string
          format: date-time
          nullable: true
          description: The start time of the query.
      additionalProperties: false
    QuerySearchResult:
      type: object
      properties:
        queries:
          type: array
          items:
            $ref: "#/components/schemas/QueryRecord"
          nullable: true
      additionalProperties: false
    AuditSearchResult:
      type: object
      properties:
        events:
          type: array
          items:
            $ref: "#/components/schemas/AuditEvent"
          nullable: true
      additionalProperties: false
    QueryType:
      enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
        - 7
        - 8
        - 9
        - 10
        - 11
        - 20
        - 100
        - 101
        - 102
        - 103
        - 104
        - 105
        - 106
        - 107
        - 108
        - 109
        - 200
        - 201
        - 202
        - 203
        - 204
        - 205
        - 210
        - 211
        - 212
        - 220
        - 230
        - 231
        - 232
      type: integer
      format: int32
      description: |
        | Value | Name |
        |-------|------|
        | 0 | Drivers |
        | 1 | DriverInfo |
        | 2 | TestConnection |
        | 3 | GetOAuthAuthorizationUrl |
        | 4 | GetOAuthAccessToken |
        | 5 | CustomReportInfo |
        | 6 | GenerateCustomReport |
        | 7 | GetAPIRootPaths |
        | 8 | GetAPIColumns |
        | 9 | GetAPIRows |
        | 10 | GetTimeCheckColumns |
        | 11 | GetDynamicPropValues |
        | 20 | DisconnectOAuthAccessToken |
        | 100 | Catalogs |
        | 101 | Schemas |
        | 102 | Tables |
        | 103 | Columns |
        | 104 | PrimaryKeys |
        | 105 | ImportedKeys |
        | 106 | ExportedKeys |
        | 107 | Procedures |
        | 108 | ProcedureParameters |
        | 109 | Indexes |
        | 200 | Query |
        | 201 | QuerySchemaOnly |
        | 202 | Batch |
        | 203 | Exec |
        | 204 | Caching |
        | 205 | ScheduledQuery |
        | 210 | ODataServiceDocument |
        | 211 | ODataMetadata |
        | 212 | ODataQuery |
        | 220 | OpenAPIDocument |
        | 230 | CreateDerivedView |
        | 231 | AlterDerivedView |
        | 232 | DropDerivedView |
    QueryUserInfo:
      type: object
      properties:
        accountName:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        firstName:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        usage:
          $ref: "#/components/schemas/QueryUserUsageLimits"
      additionalProperties: false
    QueryUserUsageLimits:
      type: object
      properties:
        connectionsOverLimit:
          type: boolean
        dataSourcesOverLimit:
          type: boolean
        usersOverLimit:
          type: boolean
        isSpreadsheetsPlan:
          type: boolean
        billingStatus:
          $ref: "#/components/schemas/BillingStatus"
        billingStatusName:
          type: string
          readOnly: true
        nextBillTime:
          type: string
          format: date-time
          nullable: true
      additionalProperties: false
    ResultSet:
      type: object
      properties:
        affectedRows:
          type: integer
          format: int32
          description: "The number of rows affected by the query, or -1 if not applicable."
        schema:
          type: array
          items:
            $ref: "#/components/schemas/ColumnInfo"
          nullable: true
        rows:
          type: array
          items:
            type: array
            items: {}
          nullable: true
      additionalProperties: false
    AccountListResult:
      type: object
      properties:
        accounts:
          type: array
          items:
            $ref: "#/components/schemas/AccountInfo"
          nullable: true
      additionalProperties: false
    AccountInfo:
      type: object
      required:
        - id
        - externalId
        - created
      properties:
        id:
          type: string
          description: The internal Connect AI account Id.
        externalId:
          type: string
          description: The Connect AI Embed external account identifier.
        accountName:
          type: string
          description: The display name of the account.
          nullable: true
        created:
          type: string
          format: date-time
          description: The time this account was created.
      additionalProperties: false
    CreateAccountRequest:
      type: object
      properties:
        externalId:
          type: string
          description: (Optional) The external Id of the account to be created.
          nullable: true
        accountName:
          type: string
          description: (Optional) The display name of the account to be created.
          nullable: true
      additionalProperties: false
    UpdateAccountRequest:
      type: object
      properties:
        externalId:
          type: string
          description: (Optional) The new external Id for the sub-account.
          nullable: true
        accountName:
          type: string
          description: (Optional) The new display name for the sub-account.
          nullable: true
      additionalProperties: false
    CreateAccountResult:
      type: object
      required:
        - accountId
        - externalId
        - createdTime
      properties:
        accountId:
          type: string
          description: The internal Connect AI account Id.
        externalId:
          type: string
          description: The customer's identifier.
        createdTime:
          type: string
          format: date-time
          description: The time when the account was created.
      additionalProperties: false
    CreateConnectionRequest:
      type: object
      required:
        - redirectURL
      properties:
        dataSource:
          type: string
          description: "(Optional) The type of data source (For example: Snowflake, ActOn, or Salesforce). You can obtain data source names from List Connections. If you omit this parameter, the user can select from a list of available data sources."
          nullable: true
        redirectURL:
          type: string
          description: The URL to redirect the customer once the customer has created the connection through the Connect AI UI. This URL maps to the **Return to** button on the **Add Connection** page in the Connect AI UI.
        name:
          type: string
          description: "(Optional) If provided, the connection name. By default, this is a suggested default that the end user can change on the **Add Connection** form. Set `editableName` to `false` to lock the field to this value. If `name` is provided without a `dataSource`, it is ignored."
          nullable: true
        externalId:
          type: string
          description: "(Optional) Your identifier for this connection in your own system. Must be unique within the sub-account; if a connection with the same `externalId` already exists under the account, the request returns a conflict error."
          nullable: true
        editableName:
          type: boolean
          description: "(Optional) The default value is `true`. When `true`, any `name` you supply is shown as a suggested default value, and the end user can change it. When `false`, the **Connection Name** field is rendered read-only, and the server enforces the supplied `name` on submit. Has no effect when `name` is omitted."
          default: true
      additionalProperties: false
    EditConnectionRequest:
      type: object
      required:
        - redirectURL
      properties:
        redirectURL:
          type: string
          description: The URL to redirect the customer once the customer has edited the connection through the Connect AI UI. This URL maps to the **Return to** button on the **Edit Connection** page in the Connect AI UI.
        name:
          type: string
          description: "(Optional) If provided, the connection name. By default, this is a suggested default that the end user can change on the **Edit Connection** form. Set `editableName` to `false` to lock the field and enforce the supplied value server-side."
          nullable: true
        editableName:
          type: boolean
          description: "(Optional) The default value is `true`. When `true`, any `name` you supply is shown as a suggested default value, and the end user can change it. When `false`, the **Connection Name** field is rendered read-only, and the server enforces the supplied `name` on submit. Has no effect when `name` is omitted."
          default: true
      additionalProperties: false
    RedirectURLResponse:
      type: object
      required:
        - redirectURL
      properties:
        redirectURL:
          type: string
          description: A string containing the CData-hosted connection URL to redirect the user to.
      additionalProperties: false
    ConnectionListItem:
      type: object
      required:
        - id
        - name
        - dataSource
        - lastModified
        - mcpUrl
        - status
      properties:
        id:
          type: string
          format: uuid
          description: The connection Id.
        name:
          type: string
          description: The connection name.
        dataSource:
          type: string
          description: The data source type (for example, ExcelOnline, MailChimp).
        lastModified:
          type: string
          format: date-time
          description: The date and time the connection was last modified.
        externalId:
          type: string
          nullable: true
          description: |
            Optional externalId set when the connection was created via redirect. Your identifier for this connection in your own system. Unique within a sub-account (null values are excluded from the uniqueness constraint). Use this field to correlate Connect AI connections with records in your own database. Distinct from the `external_identity` JWT claim, which is a per-request user-level audit identifier.
        mcpUrl:
          type: string
          description: "The per-connection MCP endpoint URL, for example, /mcp/connections/{id}."
        status:
          type: string
          description: "Connection status. Possible values include Authenticated, NotAuthenticated, and Conditional."
      additionalProperties: false
    ConnectionListResult:
      type: object
      properties:
        connections:
          type: array
          items:
            $ref: "#/components/schemas/ConnectionListItem"
          description: A list of connections for the account.
      additionalProperties: false
    CacheConnectionRequest:
      type: object
      required:
        - connectionString
      properties:
        connectionString:
          type: string
          description: The connection string used to configure the user's PostgreSQL connection. The connection string contains the fields `Server`, `Port`, `User`, `Password`, and `Database`, separated by semicolons. Optionally, you can include `BrowsableSchemas` to limit the schemas.
          example: "Server=<Server URL>;Port=5432;User=username;Password=password;Database=cachedb;"
      additionalProperties: false
    DataSourceListItem:
      type: object
      required:
        - dataSource
      properties:
        dataSource:
          type: string
          description: The name of the data source.
      additionalProperties: false
    DataSourceListResult:
      type: object
      properties:
        dataSources:
          type: array
          items:
            $ref: "#/components/schemas/DataSourceListItem"
          description: A list of data sources supported by Connect AI Embed.
      additionalProperties: false
    JobListResult:
      type: object
      properties:
        jobs:
          type: array
          items:
            $ref: "#/components/schemas/JobInfo"
          nullable: true
      additionalProperties: false
    JobInfo:
      type: object
      required:
        - jobType
        - id
        - name
        - enabled
        - created
        - lastModified
        - nextRunTime
        - intervalUnit
        - intervalValue
        - logVerbosity
      properties:
        jobType:
          type: string
          description: The type of job (Caching).
        id:
          type: string
          description: The job's Id.
        name:
          type: string
          description: The job's name.
        enabled:
          type: boolean
          description: A Boolean value indicating whether the job is enabled.
        created:
          type: string
          format: date-time
          description: The date and time the job was created.
        lastModified:
          type: string
          format: date-time
          description: The date and time the job was last modified.
        nextRunTime:
          type: string
          format: date-time
          description: The date and time the job is scheduled to be run next.
        intervalUnit:
          type: string
          description: A string representing the interval unit for the job (Hour/Day/Week/Month).
        intervalValue:
          type: integer
          format: int32
          description: An integer that represents how many of the selected interval unit the job should wait before running again.
        logVerbosity:
          type: integer
          format: int32
          description: A number indicating the level of log verbosity (1-5).
        lastRun:
          $ref: "#/components/schemas/JobLastRun"
        params:
          $ref: "#/components/schemas/JobParams"
      additionalProperties: false
    JobLastRun:
      type: object
      description: The last run metrics for the job, including the date and time, duration, status, rows affected, and next run time.
      properties:
        dateTime:
          type: string
          format: date-time
          nullable: true

        duration:
          type: integer
          format: int64
          nullable: true
        status:
          type: string
          nullable: true
        rowsAffected:
          type: integer
          format: int64
          nullable: true
        nextRunTime:
          type: string
          format: date-time
          nullable: true
          description: The date and time the job is scheduled to be run next.
      additionalProperties: false
    JobParams:
      type: object
      description: An object containing job parameters. Caching jobs use the fields below; other job types may include additional properties.
      properties:
        sourceConnection:
          type: string
          format: uuid
          description: The Id of the source connection.
        sourceConnectionName:
          type: string
          description: The name of the source connection. Returned in responses.
        sourceName:
          type: string
          description: The source driver name (for example, "Asana", "MailChimp").
        sourceSchema:
          type: string
          description: The schema in the source connection that contains the table being cached.
        sourceTable:
          type: string
          description: The name of the table in the source connection to cache.
        timeCheckColumn:
          type: string
          description: The column used to detect changes for incremental caching. Leave empty to refresh the full table.
        autoTruncateStrings:
          type: string
          description: Whether to truncate string values that exceed the destination column length. Accepted as a string by the API ("true" or "false").
          example: "false"
        mergeKeys:
          type: array
          description: "The columns used to match source rows against cached rows during a merge. Mark each column that is part of the primary key with `isPrimaryKey: true`; supplying more than one such entry defines a composite primary key."
          items:
            $ref: "#/components/schemas/MergeKey"
      additionalProperties: true
    MergeKey:
      type: object
      properties:
        colName:
          type: string
          description: The name of the column.
        colType:
          type: string
          description: The column's data type (for example, "varchar").
        isPrimaryKey:
          type: boolean
          description: Whether the column is part of the primary key. Set `true` on multiple columns to define a composite primary key.
      additionalProperties: false
    CreateJobRequest:
      type: object
      required:
        - jobType
        - intervalUnit
        - intervalValue
        - logVerbosity
        - params
      properties:
        jobType:
          type: string
          description: The type of job (Caching).
        intervalUnit:
          type: string
          description: A string representing the time interval (Hour/Day/Week/Month).
        intervalValue:
          type: integer
          format: int32
          description: An integer that represents how many of the selected frequency unit the job should wait before running again.
        logVerbosity:
          type: integer
          format: int32
          description: An enum indicating the level of log verbosity (1-5).
        enabled:
          type: boolean
          description: A Boolean value indicating whether the job is enabled. The default value is true.
        definedNextRun:
          type: string
          format: date-time
          description: An optional DateTime value that can be used to set the initial start time for the job.
        params:
          $ref: "#/components/schemas/JobParams"
          description: An object containing job-specific parameters.
      additionalProperties: false
    UpdateJobRequest:
      type: object
      required:
        - jobType
        - intervalUnit
        - intervalValue
        - logVerbosity
        - params
      properties:
        jobType:
          type: string
          description: The type of job (Caching).
        intervalUnit:
          type: string
          description: A string representing the time interval (Hour/Day/Week/Month).
        intervalValue:
          type: integer
          format: int32
          description: An integer that represents how many of the selected frequency unit the job should wait before running again.
        logVerbosity:
          type: integer
          format: int32
          description: An enum indicating the level of log verbosity (1-5).
        enabled:
          type: boolean
          description: A Boolean value indicating whether the job is enabled. The default value is true.
        definedNextRun:
          type: string
          format: date-time
          description: An optional DateTime value that can be used to set the initial start time for the job.
        params:
          $ref: "#/components/schemas/JobParams"
          description: An object containing job-specific parameters.
      additionalProperties: false
    WorkspaceList:
      type: object
      properties:
        accountId:
          type: string
          format: uuid
        workspaces:
          type: array
          items:
            $ref: "#/components/schemas/WorkspaceListItem"
          nullable: true
      additionalProperties: false
    WorkspaceListItem:
      type: object
      properties:
        childCount:
          type: integer
          format: int32
        id:
          type: string
          format: uuid
        name:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
      additionalProperties: false
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token authentication. Include the token in the Authorization header as `Bearer {token}`. See [Authentication](/en/API/Authentication-Embedded) for more information on creating a token.
security:
  - BearerAuth: []
