openapi: 3.2.0
info:
  title: CData Connect AI REST API Embedded Cache API
  version: v1
servers:
- url: https://cloud.cdata.com/api
  description: Production base URL
security:
- BearerAuth: []
tags:
- name: Cache
paths:
  /job/cacheConnection:
    post:
      summary: Update Cache Connection
      tags:
      - Cache
      operationId: updateCacheConnection
      description: Create/update the cache connection used by the other caching API calls.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CacheConnectionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                connection:
                  accountId: fee1ce9d-c40c-4ef6-8f8c-77461315713d
                  connectionString: server=<Server URL>;port=5432;user=username;password=password;database=cachedb
                  connectionType: 0
                  created: '2025-11-20T15:26:43.096Z'
                  driver: PostgreSQL
                  driverVersion: 24.0.9172.0
                  id: 1c9b0ae6-3a6f-417a-8460-4ce5b5528540
                  isTested: false
                  lastModified: '2025-11-20T15:52:32.8444712Z'
                  name: CacheConnection
                  walletFilePresent: false
                  isCannedConnection: false
      servers:
      - url: https://cloud.cdata.com/api
        description: Production base URL for job endpoints
  /job/cacheConnection/formLink:
    post:
      summary: Generate Cache Connection URL
      tags:
      - Cache
      operationId: generateCacheConnectionURL
      description: Generates a URL for users to create or update their cache connection. Returns a string containing the URL to redirect the user to. Users can then add their PostgreSQL connection information to this page.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditConnectionRequest'
      responses:
        '200':
          description: A string containing the URL to redirect the user to. Users can then add their PostgreSQL connection information to this page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedirectURLResponse'
              example:
                redirectURL: https://cloud.cdata.com/oem/user/cacheConnection?token=eyJhbGciOiJSUzI1NiIs...truncated...&driver=PostgreSQL&redirectUrl=https%3A%2F%2Fwww.google.com&connectionName=OEMCacheConnection
      servers:
      - url: https://cloud.cdata.com/api
        description: Production base URL for job endpoints
components:
  schemas:
    CacheConnectionRequest:
      type: object
      required:
      - connectionString
      properties:
        connectionString:
          type: string
          description: The connection string used to configure the user's PostgreSQL connection. The connection string contains the fields `Server`, `Port`, `User`, `Password`, and `Database`, separated by semicolons. Optionally, you can include `BrowsableSchemas` to limit the schemas.
          example: Server=<Server URL>;Port=5432;User=username;Password=password;Database=cachedb;
      additionalProperties: false
    RedirectURLResponse:
      type: object
      required:
      - redirectURL
      properties:
        redirectURL:
          type: string
          description: A string containing the CData-hosted connection URL to redirect the user to.
      additionalProperties: false
    EditConnectionRequest:
      type: object
      required:
      - redirectURL
      properties:
        redirectURL:
          type: string
          description: The URL to redirect the customer once the customer has edited the connection through the Connect AI UI. This URL maps to the **Return to** button on the **Edit Connection** page in the Connect AI UI.
        name:
          type: string
          description: (Optional) If provided, the connection name. By default, this is a suggested default that the end user can change on the **Edit Connection** form. Set `editableName` to `false` to lock the field and enforce the supplied value server-side.
          nullable: true
        editableName:
          type: boolean
          description: (Optional) The default value is `true`. When `true`, any `name` you supply is shown as a suggested default value, and the end user can change it. When `false`, the **Connection Name** field is rendered read-only, and the server enforces the supplied `name` on submit. Has no effect when `name` is omitted.
          default: true
      additionalProperties: false
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token authentication. Include the token in the Authorization header as `Bearer {token}`. See [Authentication](/en/API/Authentication-Embedded) for more information on creating a token.
